* { 
    font-family: Helvetica; 
}

h1 {
    color: slateblue; 
}

#welcome {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    text-align: center;
}

#version {
    font-style: italic;
}

li {
   list-style-type: none; 
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: blue;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #cceeff;
    text-align: left;
    padding: 8px;
  }

tr:nth-child(even) {
    background-color: #cceeff;
  }

tr:hover {
    background-color: #dddddd;
}

.big_icons {
    border: solid slateblue 1px;
}

.big_icons:hover {
    background-color: #cceeff;
}

form {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    text-align: center;
}

.submit_btn {
    background-color: #cceeff;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.submit_btn:hover {
    background-color: slateblue;
    color: white;
}

.form_new label {
    display: none;
} 

label {
    color: slateblue;
    font-weight: bold;
}

#id_OS {
    display: block;
}

.errorlist {
    color: red;
    margin-bottom: -10px;
}

.info {
    color: red;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 10px;
    border: solid #cceeff 1px;
    padding: 10px;
  }

hr {
    color: slateblue;
}

h2 {
    color: slateblue;
}

.method_form textarea {
    height: 750px;
}

.note_title {
    color: slateblue;
    font-weight: bold;
}

.note_date {
    color: slateblue;
    font-size: 10px;
}

.note_sep {
    color: #dddddd;
    border-width: 1px;
}

.note_text {
    font-size: 14px;
}

.steps_and_methods{
    color:slateblue;
    font-size: 14px;
}

.default_methods {
    color: slateblue;
    font-size: 14px;
    border: solid #cceeff 1px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.default_methods li {
    list-style-type: circle;
}