{% extends 'cms/base.html' %}
{% load static %}

{% block content %}

<h1>Cases</h1>

<a href="{% url 'case-create' %}">
    <img src="{% static 'cms/newCase_icon.png' %}" class="big_icons" title="Create a new case">
</a>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table>
    <tr>
        <th>Name</th>
        <th>Target</th>
        <th>Type</th>
        <th>State</th>
        <th>Operating system</th>
        <th>Description</th>
        <th>Last update</th>
        <th style="text-align: center;">View</th>
        <th style="text-align: center;">Edit</th>
        <th style="text-align: center;"> Delete</th>
    </tr>
    {% for case in cases %}
    <tr>
        <td><a href="{% url 'case-detail' case.id %}" title="View details">{{ case.name|upper }}</a></td>
        <td>{{ case.address }}</td>
        <td>{{ case.type_of_target }}</td>
        <td>{{ case.state }}</td>
        <td>{{ case.OS }}</td>
        <td>{{ case.description|truncatechars:120 }}</td>
        <td>{{ case.last_update }}</td>
        <td style="text-align: center;">
            <a href="{% url 'case-detail' case.id %}">
                <img  src="{% static 'cms/view_icon.png' %}" width="18" height="18" title="View details">
            </a>
        </td>
        <td style="text-align: center;">
            <a href="{% url 'case-update' case.id %}">
                <img src="{% static 'cms/edit_icon.png' %}" width="18" height="18" title="Edit">
            </a> 
        </td>
        <td style="text-align: center;">
            <a href="{% url 'case-delete' case.id %}">
                <img src="{% static 'cms/delete_icon.png' %}" width="18" height="18" title="Delete">
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}