{% extends 'cms/base.html' %}
{% load static %}

{% block content %}

<h1>Delete the privesc special vulnerability</h1>

<a href="{% url 'privesc' privesc.id %}">
    <img  src="{% static 'cms/method_icon.png' %}" class="big_icons" title="Back to privesc steps">
</a>

<p>Are you sure you want to delete this privesc special : <strong>{{ privesc_special.title }}</strong> ?</p>

<form action="" method="post">
    {% csrf_token %}
    <input class="submit_btn" type="submit" value="CONFIRM DELETION">
</form>

{% endblock %}