{% extends 'cms/base.html' %}
{% load static %}

{% block content %}

<h1>Methodologies</h1>

<a href="{% url 'methodology-create' %}">
    <img src="{% static 'cms/method_icon.png' %}" class="big_icons" title="Create a new methodology">
</a>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table>
    <tr>
        <th>Related port</th>
        <th>Name</th>
        <th>Description</th>
        <th style="text-align: center;">View</th>
        <th style="text-align: center;">Edit</th>
        <th style="text-align: center;"> Delete</th>
    </tr>
    {% for methodology in methodologies %}
    <tr>
        <td>{{ methodology.related_port|upper }}</td>
        <td>{{ methodology.name }}</td>
        <td>{{ methodology.description|truncatechars:120 }}</td>
        <td style="text-align: center;">
            <a href="">
                <img  src="{% static 'cms/view_icon.png' %}" width="18" height="18" title="View details">
            </a>
        </td>
        <td style="text-align: center;">
            <a href="">
                <img src="{% static 'cms/edit_icon.png' %}" width="18" height="18" title="Edit">
            </a> 
        </td>
        <td style="text-align: center;">
            <a href="">
                <img src="{% static 'cms/delete_icon.png' %}" width="18" height="18" title="Delete">
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}